.search-text{
    background-color:lightgrey;
    text-align:center;
    height:200px;
}
.search-text input{
    width:80%;
    font-size:25px;
}
.search-text button{
    width:80%;
    height: 50px;
    color:white;
    background-color: darkviolet;
    font-size:25px;
}
.search-text h1{
    margin:0;
    padding: 0;
}